{% extends 'base.html' %}

{% block title %}
404 Error - Page Not Found
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Uh oh. You must be lost, Sport. </h1>

      <p>Didn't you bring the Atlas like I told you? Because this page is not found (Error 404) <br><br>
      <a href="{{ url_for('index') }}">Go to main page and try again</a></p>

    </div>
  </div>
</div>

{% endblock %}
