{% extends 'base.html' %}

{% block title %}
500 Error - Internal Server Error
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Hey Champ, did you hear the one about the baker making bread without yeast? </h1>

      <p>It just didn't <i>rise</i> to the occasion!<br>
      <br><br>Speaking of which... Something went wrong here. <a href="{{ url_for('index') }}">Head back to main page</a> and try again.</p>

    </div>
  </div>
</div>

{% endblock %}
