{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block styles %}
{{ super() }}
    <style>
        body { background: #e8f1f9; }
    </style>
{% endblock %}


{% block title %}
Email Marketing Copy Generator
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to the Cymbal Sports Return Portal!</h1>

      <p class="lead">Hey there Champ! This form uses a <a href="https://cloud.google.com/vertex-ai/generative-ai/docs/model-reference/gemini">Gemini</a>, BigQuery Continuous Queries, and other Google Cloud products
      to process returns for defective items.</p>
      <p><b>How to use this app</b></p>
      <p><ol>
        <li>Fill out the form below with information from the demo datasets. Check out the <a href = "https://github.com/shanecglass/gemini-lineage-demo">GitHub</a> repo for more details</li>
        <li>Click "Submit"</li>
      </ol></p>

      {{ render_form(form) }}
      {{ form.crsf_token }}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}
