{% extends 'base.html' %}

{% block title %}
Great work Champ!
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 ps-md-5">

      <!-- note, the id is not used in the template -->

      <h1 class="pt-5 pb-2">We're on it!</h1>

      <p><a href="{{ url_for('index') }}">Return to submission page</a></p>

      <!--
	      notice how the URL in the link above is rendered for
	      Flask - it needs to name the FUNCTION, not the route
      -->

      <p>Gee Sport, we're sorry about that. But we're going to make it right with a refund for order number {{ order }}! Keep an eye out for an email from us confirming it. In the meantime, you keep what you bought. You never know when it's going to come in handy, Slugger.</p>

    </div>
  </div>
</div>

{% endblock %}
